{% extends "data/base.html" %}

{% block title %}
<title>Enter Username</title>
{% endblock title %}



{% block content %}
<h1 align="center"><img src="https://image.flaticon.com/icons/svg/1419/1419504.svg" height="50" width="50"/>    Reddinfo</h1>
<h3 align="center">Input the username you want to search! </h3>
<div align="center">
    <form method="post">{% csrf_token %}
        <input type="text" name="USERNAME" placeholder="username"/>
        &nbsp;
        <input type="submit" value="Search!"/>
    </form>
</div>

{% endblock content %}